# Convolutional Neural Network using Timeseries data from KOI dataset

**Matt Paterson, hello@hireMattPaterson.com**<br>
**Data Science Fellow, General Assembly, Summer 2020**

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# import lebowski, my custom Python Library for EDA
import lebowski as dude
# import autoreload in case I create new lebowski funcitons
import autoreload  

# Libraries needed for Logistic Regression and RandomForestClassifier

from sklearn.linear_model        import LogisticRegression
from sklearn.ensemble            import RandomForestClassifier, ExtraTreesClassifier
from sklearn.model_selection     import cross_val_score, train_test_split, GridSearchCV
from sklearn.preprocessing       import StandardScaler
from sklearn                     import metrics
from sklearn.metrics             import plot_confusion_matrix

# Libraries needed for Recurrent Neural Network

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Flatten, Conv2D, MaxPooling2D
from tensorflow.keras import utils
from tensorflow.keras.wrappers.scikit_learn import KerasRegressor
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import EarlyStopping

## This data comes from Kaggle
The datasets used in this notebook come from Kaggle and can be easily downloaded <a href='https://www.kaggle.com/keplersmachines/kepler-labelled-time-series-data'>here</a>. 

The data is timeseries data which allows us to use convolution layers in a neural network to try and predict the existence of exoplanets. This dataset is far smaller than the dataset that we used in the static KOI table modeling, and may not prove useful in cross-referencing our other dataset.

In [1]:
# establish path to home and to data
path_to_home = '../../'
datapath = path_to_home + 'data/timeseries/'

In [3]:
# Import training dataset
filename = 'exoTrain.csv'
train = pd.read_csv(datapath + filename)

In [4]:
train.head()

,LABEL,FLUX.1,FLUX.2,FLUX.3,FLUX.4,FLUX.5,FLUX.6,FLUX.7,FLUX.8,FLUX.9,...,FLUX.3188,FLUX.3189,FLUX.3190,FLUX.3191,FLUX.3192,FLUX.3193,FLUX.3194,FLUX.3195,FLUX.3196,FLUX.3197
0,2,93.85,83.81,20.10,-26.98,-39.56,-124.71,-135.18,-96.27,-79.89,...,-78.07,-102.15,-102.15,25.13,48.57,92.54,39.32,61.42,5.08,-39.54
1,2,-38.88,-33.83,-58.54,-40.09,-79.31,-72.81,-86.55,-85.33,-83.97,...,-3.28,-32.21,-32.21,-24.89,-4.86,0.76,-11.70,6.46,16.00,19.93
2,2,532.64,535.92,513.73,496.92,456.45,466.00,464.50,486.39,436.56,...,-71.69,13.31,13.31,-29.89,-20.88,5.06,-11.80,-28.91,-70.02,-96.67
3,2,326.52,347.39,302.35,298.13,317.74,312.70,322.33,311.31,312.42,...,5.71,-3.73,-3.73,30.05,20.03,-12.67,-8.77,-17.31,-17.35,13.98
4,2,-1107.21,-1112.59,-1118.95,-1095.10,-1057.55,-1034.48,-998.34,-1022.71,-989.57,...,-594.37,-401.66,-401.66,-357.24,-443.76,-438.54,-399.71,-384.65,-411.79,-510.54

In [6]:
train.shape

(5087, 3198)

This dataset is arranged with the timeseries in columns. Is that workable?